<%- include('partials/header') %>

<div class="container px-5">

    <h3 class="mb-5">Cart</h3>

    <div class="cart-container">
        <div class="row cart-header">
            <div class="col-5">
                <h5>Product</h5>
            </div>
            <div class="col-2">
                <h5>Price</h5>
            </div>
            <div class="col-3">
                <h5>Quantity</h5>
            </div>
            <div class="col-2">
                <h5>Total</h5>
            </div>
        </div>
        <div class="cart-body">
    
        </div>
        <div class="cart-footer">
            
        </div>
    </div>
    
</div>

<%- include('partials/footer') %>