<%- include('partials/header') %>

<div class="container px-5">

    <h3 class="text-center">Welcome to Frame & Glory</h3>

    <div class="row">
        <div class="text-center col-10 col-md-8 col-lg-6 my-5 mx-auto">
            <h5>Disclaimer:</h5>
            <div class="my-4">This is not a real online store and as such none of the artwork on show is for sale. This application was made as a test project for learing to develop an e-commerece site.</div>
            <div class="my-4">Apart from the products being fake, the website is fully functioning and has a working payment system. The payment is in 'test mode' and will therefore not charge any cards you enter.</div>
            <div class="my-4">Understandably, you will probably not wish to enter your own card details to test its functionality. Instead a dummy card number has been set up. Simply give your card number as "4242 4242 4242 4242" at checkout.</div>
            <div class="my-4">Any credentials (name, exp date, CCV etc) will work with this card number.</div>
        </div>
    </div>

</div>

<%- include('partials/footer') %>