<%- include('partials/header') %>

<div class="container px-5 payment-success">

    <h3 class="text-danger mb-5">Payment Failed</h3>

    <div>We had a problem processing your payment. Please try again.</div>

</div>

<%- include('partials/footer') %>