<%- include('partials/header') %>

<div class="container text-center px-5 payment-success">

    <div class="row">
        <div class="col-10 col-md-8 col-lg-6 my-5 mx-auto">
            <h3 class="text-success mb-5">Payment Successful</h3>
            <div class="my-4">Your payment has been successfully processed. Thank you for shopping with us.</div>
            <div class="my-4">We have sent you a confirmation email containing a summary of your order. Please check your junk box as it may have been sent there.</div>
        </div>
    </div>

</div>

<script src="/scripts/success.js"></script>

<%- include('partials/footer') %>