<%- include('partials/header') %>

<div class="container px-5 payment-success">

    <h3 class="text-success mb-5">Payment Successful</h3>

    <div>Your payment has been successfully processed. Thank you for shopping with us</div>

</div>

<script src="/scripts/success.js"></script>

<%- include('partials/footer') %>